{{ template "public-layout" . }}
{{ define "container" }}
<!-- About Alingan -->
<section class="hero">
    <div class="hero-body">
        <div class="container animate__animated animate__fadeIn">
            <div class="columns is-centered">
                <div class="column">
                    <div class="field">
                        <div class="field has-text-centered">
                            <p class="subtitle is-4">Alingan ?</p>
                        </div>
                        <p>
                            Alingan bukanlah startup maupun perusahaan yang bertujuan
                            menjadi unicron atau apapun itu. Alingan merupakan CV Project
                            dari beberapa millenials dengan tujuan utama menjadi project
                            portofolio pendamping dalam melamar pekerjaan. Silahkan
                            gunakan Alingan jika anda berkenan. Alingan tidak pernah
                            memungut biaya apapun dalam layanannya.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Pejuang Masa Depan -->
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered animate__animated animate__fadeIn">
                <div class="column">
                    <div class="field has-text-centered">
                        <p class="subtitle is-4">Pejuang Masa Depan ?</p>
                    </div>
                    <p>
                        Alingan dibuat oleh para pejuang masa depan. Jika anda memiliki
                        kesempatan pekerjaan yang sesuai dengan keahlian dan bidang
                        mereka, jangan ragu untuk menghubungi mereka. Kami selalu
                        tertarik dengan tantangan dan kesempatan baru.
                    </p>
                </div>
            </div>
            <div class="columns is-multiline animate__animated animate__fadeIn">
                <div class="column is-2-half-tablet is-2-half-desktop is-2-half-widescreen is-2-half-fullhd is-12-mobile">
                    <div class="box has-shadow has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <img
                                src="/static/image/black-jeremi.jpeg"
                                class="is-rounded"
                                alt=""
                            />
                        </figure>
                        <p class="subtitle is-6 mt-5 has-text-weight-semibold">
                            Jeremi
                        </p>
                        <p>Backend Developer</p>
                        <a
                        href="https://www.linkedin.com/in/jeremiah-hasudungan-sihombing-556450177/"
                        class="button is-primary is-outlined is-small is-fullwidth mt-5"
                        >Kontak</a>
                    </div>
                </div>
                <div class="column is-2-half-tablet is-2-half-desktop is-2-half-widescreen is-2-half-fullhd is-12-mobile">
                    <div class="box has-shadow has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <img
                                src="/static/image/black-elroi.jpeg"
                                class="is-rounded"
                                alt=""
                            />
                        </figure>
                        <p class="subtitle is-6 mt-5 has-text-weight-semibold">Elroi</p>
                        <p>Graphic Designer</p>
                        <a
                        href="https://www.linkedin.com/in/elroichristian/"
                        class="button is-primary is-outlined is-small is-fullwidth mt-5"
                        >Kontak</a>
                    </div>
                </div>
                <div class="column is-2-half-tablet is-2-half-desktop is-2-half-widescreen is-2-half-fullhd is-12-mobile">
                    <div class="box has-shadow has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <img
                                src="/static/image/black-shabran.jpeg"
                                class="is-rounded"
                                alt=""
                            />
                        </figure>
                        <p class="subtitle is-6 mt-5 has-text-weight-semibold">
                            Shabran
                        </p>
                        <p>UI/UX Designer</p>
                        <a
                        href="https://www.linkedin.com/in/shabranmsm/"
                        class="button is-primary is-outlined is-small is-fullwidth mt-5"
                        >Kontak</a>
                    </div>
                </div>
                <div class="column is-2-half-tablet is-2-half-desktop is-2-half-widescreen is-2-half-fullhd is-12-mobile">
                    <div class="box has-shadow has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <img
                                src="/static/image/black-fajri.jpeg"
                                class="is-rounded"
                                alt=""
                            />
                        </figure>
                        <p class="subtitle is-6 mt-5 has-text-weight-semibold">Fajri</p>
                        <p>Frontend Engineer</p>
                        <a
                        href="https://www.linkedin.com/in/ihsan-fajri-b295291b7/"
                        class="button is-primary is-outlined is-small is-fullwidth mt-5"
                        >Kontak</a>
                    </div>
                </div>
                <div class="column is-2-half-tablet is-2-half-desktop is-2-half-widescreen is-2-half-fullhd is-12-mobile">
                    <div class="box has-shadow has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <img src="/static/image/black-ebe.jpeg" class="is-rounded" alt="" />
                        </figure>
                        <p class="subtitle is-6 mt-5 has-text-weight-semibold">Ebe</p>
                        <p>Mobile Developer</p>
                        <a
                        href="https://www.linkedin.com/in/toniebe/"
                        class="button is-primary is-outlined is-small is-fullwidth mt-5"
                        >Kontak</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}