{{ template "owner-layout" .}}
{{ define "container" }}
<div class="column animate__animated animate__fadeIn">
    <h1 class="title">Agen</h1>
    <p>Berikut merupakan daftar agen anda. Anda dapat mendaftarkan agen baru, atau mengubah yang telah ada.</p>

    <nav class="level mt-5">
       <div class="level-left"></div>
       <div class="level-right">
            <div class="level-item">
                <a href="/owner/new/agent" class="button is-primary is-small"><i class="fa fa-address-book mr-2"></i> Daftarkan Agen Baru</a>
            </div>
        </div>
    </nav>

    <!-- Grid -->
    <table class="table is-hoverable is-fullwidth mt-5">
        <thead>
            <tr>
                <th>Nama Agen</th>
                <th>Toko</th>
                <th>Status</th>
                <th>Lihat</th>
            </tr>
        </thead>
        <tbody>
            {{ range .agents }}
                <tr>
                    <td>{{ .AgentName }}</td>
                    <td>{{ .StoreName }}</td>
                    {{ if .IsActive}}
                        <td>
                            <div class="tag is-primary">
                                active
                            </div>
                        </td>
                    {{ else }}
                        <td>
                            <span class="tag is-danger">
                                inactive
                            </span>
                        </td>
                    {{ end }}
                    <td><a class="button is-info is-small" href="/owner/agent/{{.AgentId}}" ><i class="fa fa-edit mr-2"></i>Lihat</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
