{{ template "owner-layout" .}}
{{ define "container" }}
<div class="column animate__animated animate__fadeIn">
    <h1 class="title">Produk</h1>
    <p>Setelah produk dibuat, produk akan tersedia untuk transaksi di setiap toko anda.</p>

    <!-- Form -->
    <form class="mt-5" method="post" action="/owner/new/product/submit" >
        <div class="field">
            <div class="columns is-multiline">
                <div class="column is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd is-12-mobile">
                    <label for="" class="label">Nama Produk</label>
                    <div class="control">
                        <input class="input" type="text" name="product-name"  >
                    </div>
                </div>
                <div class="column is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd is-12-mobile">
                    <label for="" class="label">Harga</label>
                    <div class="control">
                        <input class="input" type="number" name="product-price"  >
                    </div>
                </div>
                <div class="column is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd is-12-mobile">
                    <label for="" class="label">Satuan</label>
                    <div class="control">
                        <input class="input" type="text" name="product-measurement-unit"  >
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="buttons">
                        <a href="/owner/product" class="button is-small is-dark"><i class="fa fa-angle-left mr-2"></i>Kembali</a>
                        <button type="submit" class="button is-small is-info"><i class="fa fa-save mr-2"></i>Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{{ end }}