{{ template "owner-layout" . }}
{{ define "container" }}
<div class="column">
    <div class="columns">
        <!-- Product By Revenue -->
        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd is-12-mobile">
            <div class="box has-shadow animate__animated animate__fadeIn">
                <div class="tag is-medium is-primary mb-5">
                    Produk Terbaik ( Jumlah Pemasukan Rupiah  )
                </div>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Produk</th>
                            <th>Keuntungan</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ range .dashboardReports.OwnerMostPurchasedProductByRevenue }}
                            <tr>
                                <td>{{ .ProductName }}</td>
                                <td>{{ .TotalRevenue }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Product By Quantity -->
        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd is-12-mobile">
            <div class="box has-shadow animate__animated animate__fadeIn">
                <div class="tag is-medium is-primary mb-5">
                    Produk Terbaik ( Jumlah Terjual )
                </div>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Produk</th>
                            <th>Jumlah Terjual</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .dashboardReports.OwnerMostPurchasedProductByQuantity }}
                            <tr>
                                <td>{{ .ProductName }}</td>
                                <td>{{ .TotalPurchased }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd is-12-mobile">
            <div class="box has-shadow animate__animated animate__fadeIn">
                <div class="tag is-medium is-primary mb-5">
                    Agen Terbaik
                </div>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nama Agen</th>
                            <th>Jumlah Transaksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .dashboardReports.OwnerAgentWithTheMostTransaction }}
                            <tr>
                                <td>{{ .AgentName }}</td>
                                <td>{{ .TotalTransactionHandled }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd is-12-mobile">
            <div class="box has-shadow animate__animated animate__fadeIn">
                <div class="tag is-medium is-primary mb-5">
                    Toko Terbaik
                </div>
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nama Toko</th>
                            <th>Jumlah Transaksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .dashboardReports.OwnerStoreWithTheMostTransaction }}
                            <tr>
                                <td>{{ .StoreName }}</td>
                                <td>{{ .StoreTotalTransaction }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}
