{{ template "public-layout" . }}
{{ define "container" }}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container animate__animated animate__fadeIn">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-5-desktop is-5-widescreen is-5-fullhd is-12-mobile">
                    <form action="/owner/login/submit" method="post" class="box has-shadow">
                        <figure class="image is-inline-block mb-5">
                            <img src="https://res.cloudinary.com/jhasudungan/image/upload/v1661325528/alingan_static_asset/login_ajiuca.svg" alt="" width="100" height="100">
                        </figure>
                        <div class="field">
                            <div class="control">
                                <label for="" class="label">Email</label>
                                <input class="input is-primary" name="owner-email-login" type="email" placeholder="eg jeremiah@aol.com">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label for="" class="label">Password</label>
                                <input class="input is-primary" name="owner-email-password" type="password" >
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="submit"class="button is-primary is-fullwidth" value="Masuk">
                            </div>
                            <div class="control has-text-centered my-5">
                                <p>Belum memilliki akun ?</p>
                            </div>
                            <div class="control">
                                <a href="/owner/registration" class="button is-info is-fullwidth">Daftar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}