{{ template "owner-layout" . }}
{{ define "container" }}
<div class="column">
    <div class="box has-shadow animate__animated animate__fadeIn">
        <div class="tag is-primary is-medium my-5">
            <p class="subtitle is-5 has-text-weight-semibold has-text-white">Alingan Mobile</p>
        </div>
        <p>Untuk meminimalisir biaya operasional, agen anda dapat menggunakan Alingan Mobile untuk bertranksaksi di toko anda. </p>
        <a href="" class="button is-primary is-outlined mt-5">
            Download Sekarang Di Playstore
        </a>
    </div>
</div>
{{ end }}