{{ template "owner-layout" .}}
{{ define "container" }}
<div class="column">
    <div class="block">
        <p class="is-size-4">Product</p>
    </div>
    <div class="block">
        <p>Below is the list of your product, you can create a new product by clicking on "create a new product" button</p>
    </div>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range .products }}
                <tr>
                    <td>{{ .ProductName }}</td>
                    {{ if .IsActive}}
                        <td>
                            <div class="tag is-primary">
                                active
                            </div>
                        </td>
                    {{ else }}
                        <td>
                            <span class="tag is-danger">
                                inactive
                            </span>
                        </td>
                    {{ end }}
                    <td><a class="button is-info is-small" href="/owner/product/{{.ProductId}}" > view</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    <div class="block">
        <a class="button is-success" href="/owner/new/product" >create new product</a>
    </div>
</div>
{{ end }}
