{{ template "public-layout" . }}
{{ define "container" }}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container animate__animated animate__fadeIn">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-5-desktop is-5-widescreen is-5-fullhd is-12-mobile">
                    <form action="/owner/registration/submit" method="post" class="box has-shadow">
                        <figure class="image is-inline-block mb-5">
                            <img src="/static/image/registration.svg" alt="" width="100" height="100">
                        </figure>
                        <div class="field">
                            <div class="control">
                                <label for="" class="label">Email</label>
                                <input class="input is-primary" name="owner-email" type="text" >
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label for="" class="label">Password</label>
                                <input class="input is-primary" name="owner-password" type="password" >
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label for="" class="label">Nama</label>
                                <input class="input is-primary" name="owner-name" type="text" placeholder="eg : Jeremiah Hasudungan" >
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label for="" class="label">Tipe Akun</label>
                                <div class="select is-primary is-fullwidth">
                                    <select name="account-type" id="">
                                        <option value="">Pribadi</option>
                                        <option value="">Organisasi/Perusahaan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="submit" class="button is-primary is-fullwidth" value="Daftar">
                            </div>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}