{{ template "owner-layout" .}}
{{ define "container" }}
<div class="column">
    <div class="block">
        <p class="is-size-4">Store</p>
    </div>
    <div class="block">
        <p>Below is the list of your store, you can create a new store by clicking on "create a new store" button</p>
    </div>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>StoreName</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range .stores }}
                <tr>
                    <td>{{ .StoreName }}</td>
                    {{ if .IsActive}}
                        <td>
                            <div class="tag is-primary">
                                active
                            </div>
                        </td>
                    {{ else }}
                        <td>
                            <span class="tag is-danger">
                                inactive
                            </span>
                        </td>
                    {{ end }}
                    <td><a class="button is-info is-small" href="/owner/store/{{.StoreId}}" > view</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    <div class="block">
        <a class="button is-success" href="/owner/new/store" >create new store</a>
    </div>
</div>
{{ end }}
