{{ template "owner-layout" .}}
{{ define "container" }}
<div class="column animate__animated animate__fadeIn">
    <h1 class="title">Transaksi</h1>
    <p>Berikut merupakan transaksi yang telah terjadi di seluruh toko anda.</p>

    <nav class="level mt-5">
    <div class="level-left"></div>
    <div class="level-right">
            <div class="level-item">
                <a href="/owner/new/transaction" class="button is-primary is-small"><i class="fa fa-money-check-alt mr-2"></i> Buat Transaksi Baru</a>
            </div>
        </div>
    </nav>

    <!-- Grid -->
    <table class="table is-hoverable is-fullwidth mt-5">
        <thead>
            <tr>
                <th>Tanggal Transaksi</th>
                <th>Toko</th>
                <th>Agen</th>
                <th>Lihat</th>
            </tr>
        </thead>
        <tbody>
            {{ range .transactions }}
                <tr>
                    <td>{{ .TransactionDate }}</td>
                    <td>{{ .StoreName }}</td>
                    <td>{{ .AgentName }}</td>
                    <td><a class="button is-info is-small" href="/owner/transaction/{{.TransactionId}}" ><i class="fa fa-edit mr-2"></i> Lihat</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
