{{ template "owner-layout" .}}
{{ define "container" }}
<div class="column">
    <h1 class="title">Password</h1>
    <p>Perbarui password anda secara berkala untuk menjaga keamanan akun anda.</p>
    <form method="POST" action="/owner/update/password/submit" class="mt-5">
        <div class="columns">
            <div class="column">
                <label for="" class="label">Password Lama</label>
                <div class="control">
                    <input class="input" name="old-password" >
                </div>
            </div>
            <div class="column">
                <label for="" class="label">Password Baru</label>
                <div class="control">
                    <input class="input" name="new-password">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons are-small">
                    <button class="button is-primary" type="submit" name="submit"><i class="fa fa-lock mr-2"></i> Perbarui Password</button>
                </div>
            </div>
        </div>
    </form>
</div>
{{ end }}