{{ template "owner-layout" .}}
{{ define "container" }}
<div class="column">
    <div class="block">
        <p class="is-size-4">View Agent</p>
    </div>
    <div class="block">
        <p>You can update your agent data or set your agent inactive here</p>
    </div>
    <form action="/owner/update/agent/submit" method="POST">
        <div class="columns">
            <div class="column">
                <label for="" class="label">Agent Id</label>
                <div class="control">
                    <input class="input" value="{{ .agent.AgentId }}" name="agent-id" readonly="true" >
                </div>
            </div>
            <div class="column">
                <label for="" class="label">Agent Name</label>
                <div class="control">
                    <input class="input" value="{{ .agent.AgentName }}" name="update-agent-name" >
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label for="" class="label">Agent Email</label>
                <div class="control">
                    <input class="input" value="{{ .agent.AgentEmail }}" name="update-agent-email" >
                </div>
            </div>
            <div class="column">
                <label for="" class="label">Agent Login Password</label>
                <div class="control">
                    <input class="input" type="password" value="{{ .agent.AgentPassword }}" name="update-agent-password" >
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label for="" class="label">Last Modified</label>
                <div class="control">
                    <input class="input" value="{{ .agent.LastModified }}" disabled>
                </div>
            </div>
            <div class="column">
                <label for="" class="label">Created Date </label>
                <div class="control">
                    <input class="input" value="{{ .agent.CreatedDate }}" disabled>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons are-small">
                    <a href="/owner/agent" class="button is-dark"><i class="fa fa-arrow-left"></i></a>
                    {{ if .agent.IsActive }}
                        <a href="/owner/inactive/agent/{{.agent.AgentId }}" class="button is-danger">deactive this agent</a>
                    {{ else }}
                        <a href="/owner/reactive/agent/{{.agent.AgentId }}" class="button is-success">reactive this agent</a>
                    {{ end }}
                    <button type="submit" name="submit" class="button is-primary">save change</button>
                </div>
            </div>
        </div>
    </form>
</div>
{{ end }}